<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Distributed WPA Cracking Master</display-name>

	<context-param>
		<description>Location where the web application configuration can be found.  We keep the configuration options separate from
		the web.xml because it makes redeployment easier to avoid having to update web.xml for each environment.
		</description>
		<param-name>WebAppConfig.xml Full Pathname</param-name>
		<param-value>/home/DIST-WPA/group-shared/Software/configs/WebAppConfig.xml</param-value>
	</context-param>

	<listener>
		<description>Responsible for initializing the web application at startup</description>
		<listener-class>com.google.code.distributedwpacracking.master.servlets.InitializationListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>

	<servlet>
		<servlet-name>JobSubmit</servlet-name>
		<servlet-class>com.google.code.distributedwpacracking.master.servlets.JobSubmit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobSubmit</servlet-name>
		<url-pattern>/servlets/JobSubmit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StartWorkerNodes</servlet-name>
		<servlet-class>com.google.code.distributedwpacracking.master.servlets.StartWorkerNodes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartWorkerNodes</servlet-name>
		<url-pattern>/servlets/StartWorkerNodes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>KillWorkerNodes</servlet-name>
		<servlet-class>com.google.code.distributedwpacracking.master.servlets.KillWorkerNodes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KillWorkerNodes</servlet-name>
		<url-pattern>/servlets/KillWorkerNodes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OutputWebAppLog</servlet-name>
		<servlet-class>com.google.code.distributedwpacracking.master.servlets.OutputWebAppLog</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OutputWebAppLog</servlet-name>
		<url-pattern>/servlets/OutputWebAppLog</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entire Application</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>authuser</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- Define the Login Configuration for this Application -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Authorized Users Only Realm</realm-name>
	</login-config>


	<welcome-file-list>
		<welcome-file>welcome.jspx</welcome-file>
	</welcome-file-list>
</web-app>
